<ul class="nav col-12 col-md-auto mb-2 mb-md-0">
  <li class="nav-menu" *ngFor="let link of menuLinks">
    <a href="#" class="nav-link px-2 " [routerLink]="link.linkPath" routerLinkActive="active"
      [routerLinkActiveOptions]={exact:true}>{{link.linkName}}</a>
  </li>

  <button type="button" class="btn" routerLink="/login"
    style="border-color: #f82249; color: gray; font-weight: bold;">Login</button>
  <button type="button" class="btn" routerLink="/sign-up"
    style="background-color: #f82249; font-weight: bold; opacity: 60%; color: whitesmoke;">Sign-up</button>

  <a routerLink="/profile/organizer-profile"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="40" fill="gray"
      class="bi bi-person-circle dropdown-toggle" viewBox="0 0 16 16" style="margin-left: 14px;">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
    </svg>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </a>
</ul>